spawn-at-startup "noctalia"
include "noctalia.kdl"
window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 20

  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}
binds {
    // Core Noctalia binds
    Mod+Space { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+S { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Comma { spawn-sh "noctalia msg settings-toggle"; }
    Alt+Tab { spawn-sh "noctalia msg window-switcher"; }
    // Niri has a built-in window switcher you might want to try it to see which one you prefer.

    // Audio & Brightness
    XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }
    XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }  

    // Windows+(1-9) = focus desktop 1-9
    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }

    // Windows+shift+(1-9) = move focused window to desktop 1-9
    Super+Shift+1 { move-window-to-workspace 1; }
    Super+Shift+2 { move-window-to-workspace 2; }
    Super+Shift+3 { move-window-to-workspace 3; }
    Super+Shift+4 { move-window-to-workspace 4; }
    Super+Shift+5 { move-window-to-workspace 5; }
    Super+Shift+6 { move-window-to-workspace 6; }
    Super+Shift+7 { move-window-to-workspace 7; }
    Super+Shift+8 { move-window-to-workspace 8; }
    Super+Shift+9 { move-window-to-workspace 9; }

    // Windows+arrows = directional focus (column for left/right, workspace for up/down)
    Super+Left { focus-column-left; }
    Super+Right { focus-column-right; }
    Super+Up { focus-workspace-up; }
    Super+Down { focus-workspace-down; }

    // Windows+shift+arrows = directional movement
    Super+Shift+Left { move-column-left-or-to-monitor-left; }
    Super+Shift+Right { move-column-right-or-to-monitor-right; }
    Super+Shift+Up { move-window-to-workspace-up; }
    Super+Shift+Down { move-window-to-workspace-down; }

    // Windows+q closes the focused window
    Super+W { close-window; }

    // Windows+f maximizes the current window (to screen edges)
    Super+F { maximize-window-to-edges; }

    // App shorcuts
    Super+Return { spawn "flatpak run org.kde.konsole";}

    Super+L { spawn "swaylock";}
}

