layout {

    focus-ring {
        active-color   "#ccc2df"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ccc2df"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ccc2df"
        inactive-color "#3f384f"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ccc2df80"
    }
}

recent-windows {
    highlight {
        active-color "#ccc2df"
        urgent-color "#ffb4ab"
    }
}
